.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 2em;
    padding-left: 20px;
    border-right: lightsteelblue;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    color: #818181;
    display: block;
    border-right: lightsteelblue;
}

.sidenav a:hover {
    color: #000000;
    text-decoration: none;
}